.ui-block-a,
.ui-block-b,
.ui-block-c,
.ui-block-d,
.ui-block-e {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } /* force new row */

.ui-block-a {
    clear: left;
}

.ui-block {
  width: 100%
}

.ui-bar {
	position: relative;
	padding: .4em 1em;
	overflow: hidden;
	display: block;
	clear: both;
}

.ui-corner-all {
	-webkit-border-radius: 				.3125em /*{global-radii-blocks}*/;
	border-radius: 						.3125em /*{global-radii-blocks}*/;
}

.ui-btn-ok,
.ui-btn-ok:active,
.ui-btn-ok:hover ,
.ui-btn-ok a,
.ui-btn-ok:active a,
.ui-btn-ok:hover a {
  color: white !important;
  background: green !important;
  text-align: center;
}

.ui-btn-warning,
.ui-btn-warning:active,
.ui-btn-warning:hover,
.ui-btn-warning a,
.ui-btn-warning:active a,
.ui-btn-warning:hover a {
  color: white !important;
  background: #f0ad4e !important;
  text-align: center;
}

.ui-btn-error,
.ui-btn-error:active,
.ui-btn-error:hover,
.ui-btn-error a,
.ui-btn-error:active a,
.ui-btn-error:hover a {
  color: white !important;
  background: red !important;
  text-align: center;
}

.ui-btn-no-data,
.ui-btn-no-data:active,
.ui-btn-no-data:hover,
.ui-btn-no-data a,
.ui-btn-no-data:active a,
.ui-btn-no-data:hover a {
  color: grey !important;
  background: grey !important;
  text-align: center;
}

.ui-btn-color-white,
.ui-btn-color-white:active,
.ui-btn-color-white:hover,
.ui-btn-color-white a,
.ui-btn-color-white:active a,
.ui-btn-color-white:hover a  {
  color: white !important;
  background: grey !important;
  text-align: center;
}


.ui-btn-white,
.ui-btn-white:active,
.ui-btn-white:hover,
.ui-btn-white a,
.ui-btn-white:active a,
.ui-btn-white:hover a {
  background: white !important;
  text-align: center;
}

a.ui-icon-desktop::before {
  margin-left: 5px;
}

/* for Software Logo*/
div.editable_div.logo img {
  object-fit: cover;
  max-height: 3.5em;
}
