a.create_new_account {
    padding: 6pt;
    margin-top: 10pt;
    margin-right: 12pt;
    background-color: #FF6600;
    color: #FFFFFF;
    border-radius: 0.325em;
    border-width: 1px;
    border-style: solid;
    border-color: #FF6600;
    min-width: 8em;
    text-decoration: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    text-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    display: inline-block
}

a.create_new_account:hover,
a.create_new_account:focus {
    background-color: #ff8533;
}
