.message {
  position: fixed;
  top: 60pt;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-pointer {
  cursor: pointer;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert > h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.alert p {
  white-space: pre-wrap;
  display: block;
  word-wrap: break-word;
}