.attention-point {
  border: 1px solid #FF0004;
  border-radius: 5%;
  color: #FF0004;
  padding: 5px;
  margin: 5px;
}

.attention-point a {
  color: #FF0004;
}

.attention-point a:hover {
  color: #FF0004;
}


.no-alert {
  border: 1px solid #228B22;
  border-radius: 5%;
  color: #228B22;
  padding: 5px;
  margin: 5px;
}